.post{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.postContainer{
    padding: 10px;
}

.postHeader{
    display: flex;
    align-items: center;
}

.profilePic{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.postImg{
    margin: 20px;
    max-width: 200px;
    max-height: 200px;
}

.username {
    font-size: 30px;
    font-weight: 800;
}

.likeButton{
    height: 30px;
    width: 30px;
}

.likeNumber{
    font-size: 12;
}

.postInteract{
    display: flex;
    flex-direction: row;
}

.deleteButton {
    width: 70px;
    font-size: 15px;
}

.editButton {
    width: 70px;
    font-size: 15px;
}