.createPost{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.postBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postInput{
    width: 600px;
}

.postImg {
    padding-top: 20px;
    padding-bottom: 0px;
}